.create-teams {
  font-size: 18px;
}

.add-teams__list {
  padding: 0;
  margin: 30px 0;
  list-style-type: none;
}

.add-teams__list-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add-teams__team-name {
  margin-right: auto;
  font-weight: bold;
  text-transform: capitalize;
}

.add-teams__team-percent {
  margin-right: 10px;
  margin-left: 10px;
}

.add-teams__form {
  padding: 30px var(--border-offset);
  margin-right: calc(-1 * var(--border-offset));
  margin-left: calc(-1 * var(--border-offset));
  color: var(--white);
  background-color: var(--blue);
}

.add-teams__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.add-teams__submit {
  display: block;
  width: 100%;
  padding: var(--input-padding);
  color: var(--black);
  background-color: var(--white);
  border-right: 3px solid;
  border-bottom: 4px solid;
}

.add-teams__input {
  padding: var(--input-padding);
  margin-left: 20px;
  background-color: var(--white);
  border: 0;
}

.add-teams__team-remove {
  color: var(--red);
}
