.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.site-content--game {
  background-color: var(--blue);
}

/* These should be in a new file! */
.game {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  padding: 30px 50px;
  margin: 5%;
  background-color: var(--white);
}

.game-heading {
  grid-column: 1 / span 12;
  grid-row: 1;
}

.game-board {
  grid-column: 1 / span 8;
  grid-row: 2;
}

.teams {
  grid-column: 10 / span 3;
  grid-row: 2;
}

.game-info {
  display: grid;
  grid-column: 1 / span 8;
  grid-row: 3;
  margin-top: 20px;
}

.game-info__heading {
  grid-column: 1 / span 12;
  grid-row: 1;
}

.game-info__list {
  grid-column: 1 / span 8;
  grid-row: 2;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.game-info__list-item {
  display: inline-block;
  margin-right: 20px;
}

.game-info__button.cool-button {
  color: var(--black);
  background-color: var(--gold);
}

.game-controls {
  grid-column: 10 / span 3;
  grid-row: 3;
  align-self: end;
}

.game-undo.cool-button {
  background-color: var(--red);
}
