body {
  color: #555;
}

* {
  box-sizing: border-box;
}

/* These should be in a new file! */
.game {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.game-board {
  width: 60%;
  padding: 30px;
}

.game-info {
  width: 100%;
}

.game-info__list {
  list-style-type: none;
}

.game-info__list-item {
  display: inline-block;
  margin-right: 20px;
}

.winner {
  width: 100%;
}
