.ball__list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  margin: 0;
  list-style-type: none;
  opacity: 1;
  transition: opacity 200ms;
}

.ball__list--disabled {
  opacity: 0.5;
}

.ball__list-item {
  position: relative;
  counter-increment: ball;
}

.ball__label {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 50px 0 rgba(0,0,0,0.4);
  transition: background-color 200ms ease;
}

.ball__label:before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 46px;
  font-weight: bold;
  color: var(--blue);
  content: counter(ball);
  transform: translate(-50%,-50%);
}

.ball__label:not(.ball__label--active) {
  cursor: pointer;
}

.ball__list--disabled .ball__label {
  cursor: not-allowed;
}

.ball__label--active {
  background-color: var(--gold);
}

.ball__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
