.ball__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(50px, auto);
}

.ball__list-item {
  position: relative;
  counter-increment: ball;
}

.ball__label {
  border: 4px solid gray;
  width: 100%;
  display: block;
  padding-top: 100%;
  border-radius: 50%;
  position: relative;
  box-sizing: content-box;
}

.ball__label::before {
  content: counter(ball);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 46px;
  font-weight: bold;
}

.ball__label:not(.ball__label--active) {
  cursor: pointer;
}

.ball__label--active {
  background-color: gold;
}

.ball__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
