.game {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  width: 100%;
  max-width: 1600px;
  padding: 30px 50px;
  margin: 5%;
  overflow: hidden;
  background-color: var(--white);
}

.game-heading {
  grid-column: 1 / span 12;
  grid-row: 1;
  color: var(--orange);
  text-align: center;
}

.game-board {
  grid-column: 1 / span 8;
  grid-row: 2;
}

.teams {
  grid-column: 10 / span 3;
  grid-row: 2;
}

.game-stage {
  display: grid;
  grid-column: 1 / span 8;
  grid-row: 3;
  margin-top: 20px;
}

.game-stage__heading {
  grid-column: 1 / span 12;
  grid-row: 1;
}

.game-stage__list {
  grid-column: 1 / span 8;
  grid-row: 2;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.game-stage__list-item {
  display: inline-block;
  margin-right: 20px;
}

.game-stage__button.cool-button {
  color: var(--black);
  background-color: var(--gold);
}

.game-controls {
  grid-column: 10 / span 3;
  grid-row: 3;
  align-self: end;
}

.game-controls__heading {
}

.game-controls__list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.game-undo.cool-button {
  margin-right: 20px;
  background-color: var(--orange);
}

.game-undo.cool-button:focus {
  outline-color: var(--red);
}

.game-restart.cool-button {
  background-color: var(--red);
}
