.ready {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: var(--border-offset) calc(-1 * var(--border-offset));
}

.ready-hint__list {
  padding: 30px var(--border-offset) 30px calc(2 * var(--border-offset));
  margin: 0;
  color: var(--red);
  border: 2px dashed;
}

.ready-hint__list:empty {
  display: none;
}

.ready-hint__list-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.cool-button.ready-button {
}
