.team__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.team__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--blue);
  text-transform: capitalize;
}

.team__list-item:hover {
  cursor: pointer;
}

.team-combo__list {
  display: none;
}

.team__name {
  font-weight: bold;
}

.team__percent {
  margin-left: 20px;
}

.team__list-item--opened .team-combo__list {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding: 20px 40px;
  overflow: scroll;
  font-size: 14px;
  column-count: 11;
  list-style-type: none;
  background-color: var(--white);
}

.team__list-item--opened .team__name {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.team__list-item--opened .team__name:after {
  position: absolute;
  right: 20px;
  color: var(--red);
  content: '×';
}

.team__list-item--redraw {
  color: var(--orange);
}

.team__list-item--redraw:hover {
  cursor: default;
}
